               /etc/haproxy/haproxy.cfg

#La configuration pour les deux Proxy
global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# =====================================================================
# REVERSE PROXY WEB CLASSIQUE (Ports 80 et 3000)
# =====================================================================
frontend http_frontend
    bind 10.10.1.100:80
    mode http
    http-request set-header X-Forwarded-Port %[dst_port]
    default_backend web_frontend_cluster

backend web_frontend_cluster
    mode http
    balance roundrobin
    # MODIFICATION : On envoie le trafic HTTP (port 80) vers le WAF Nginx local
    server local_nginx_waf 127.0.0.1:81 check

frontend http_backend
    bind 10.10.1.100:3000
    mode http
    http-request set-header X-Forwarded-Port %[dst_port]
    default_backend api_backend_cluster

backend api_backend_cluster
    mode http
    balance roundrobin
    # MODIFICATION : On envoie AUSSI le trafic API (port 3000) vers le WAF Nginx local
    server local_nginx_waf 127.0.0.1:81 check

# =====================================================================
# CLUSTER POSTGRESQL / PATRONI
# =====================================================================
listen postgres_write
    bind 10.10.1.100:5432
    mode tcp
    option tcplog
    option httpchk
    http-check send meth GET uri /primary ver HTTP/1.1 hdr host localhost
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server eco-db 10.10.2.30:5432 maxconn 100 check port 8008
    server eco-db-02 10.10.2.31:5432 maxconn 100 check port 8008

listen postgres_read
    bind 10.10.1.100:5433
    mode tcp
    option tcplog
    balance roundrobin
    option httpchk
    http-check send meth GET uri /replica ver HTTP/1.1 hdr host localhost
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server eco-db 10.10.2.30:5432 check port 8008
    server eco-db-02 10.10.2.31:5432 check port 8008

# =====================================================================
# CLUSTER REDIS (MAÎTRE / ESCLAVE)
# =====================================================================
listen redis_master
    bind 10.10.1.100:6379
    mode tcp
    option tcp-check
    # HAProxy envoie la commande INFO REPLICATION pour tester le rôle
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    # Nos deux serveurs Redis
    server eco-db 10.10.2.30:6379 check
    server eco-db-02 10.10.2.31:6379 check

# =====================================================================
# PROXY SORTANT INTERNET (APT + téléchargements)
# Port 8080 → Squid
# =====================================================================
frontend proxy_sortant
    bind 10.10.1.100:8080
    mode http
    option forwardfor
    default_backend squid_cluster

backend squid_cluster
    mode http
    balance roundrobin
    timeout connect 5s
    timeout server 30s
    server eco-proxy-squid 10.10.1.10:8080
    server eco-lb-squid    10.10.1.11:8080 backup 